body {
    box-sizing: border-box;
    background-color: mediumaquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    margin: 0;
}


/********* NAVIGATION BAR *********/
/* How to have a top navigation bar from: https://www.w3schools.com/howto/howto_js_topnav.asp */
div.topnav {
    overflow: hidden;
    background-color: rgb(43, 152, 116);
}

div.topnav a {
    float: left;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

div.topnav a:hover {
    background-color: mediumvioletred;
    color: whitesmoke;
    text-decoration: none;
}

/********* SPLIT DIVS *********/

div.content {
    margin: 30px;
}

div.wrapper {
    display: flex;
}

div.left {
    float: left;
    margin: 1em;
}

div.right {
    float: right;
    margin: 1em;
}

div.bottom {
    float: inline-end;
    clear: both;
}

/********* INTERACTION *********/

input {
    font-family: inherit;
    border-radius: 4px;
}

button {
    border: 0px;
    border-radius: 4px;
    font-family: inherit;
    background-color: slategrey;
    padding: 5px;
}

button.ok {
    font-weight: 700;
}

button:hover {
    background-color: whitesmoke;
}

.button {
    border: 0px;
    border-radius: 4px;
    font-family: inherit;
    background-color: slategrey;
}

.button:hover {
    background-color: whitesmoke;
}

/** Button that visually depresses from: https://dev.to/nicm42/how-to-make-a-button-looked-like-it-s-staying-pressed-down-58k */
button.stay {
  position: relative;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button.stay:active, button.active {
    top: 2px;
    left: 1px;
    box-shadow: none;
    background-color: whitesmoke;
}
/** END */

textarea {
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    border-radius: 4px;
    text-align: left;
    font-family: inherit;
    margin-right: 10px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    resize: none;
}



.close, .plus {
    padding-left: 5px;
    color: slategrey;
}

.close:hover {
    color: darkred;
    cursor: pointer;
}

.plus:hover {
    color:forestgreen;
    cursor: pointer;
}

::selection {
    background-color: mediumvioletred;
    color: white;
}



/********* LINKS *********/
a {
    color: mediumvioletred;
}

a:visited {
    color: plum;
}