body {
    overflow-y: hidden;
}

content {
    vertical-align: middle;
}

.gridwrapper {
    display: inline-block;
    position: relative;
    width: 75vh;
    justify-content: center;
}

.gridwrapper::after {
    padding-top: 100%;
    display: block;
    content: "";
}

/* 
 * How to get grid layout from: https://stackoverflow.com/a/20457076
 */
.grid {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 1%;
    /*margin: 5%;*/
}

.cell {
    background-color: darkgray;
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    padding: 1%;
    font-size: 98%;
}

.cell:hover {
    background-color: lightgray;
}

div.right {
    overflow-y: auto;
    height: 75vh;
    padding-left: 30px;
    padding-right: 30px;
}

div#birth, div#death {
    display: block;
    margin-left: 10px;
}

rule {
    display: block;
    padding-bottom: 20px;
}

rule clause {
    display: block;
    margin-left: 10px;
}

blank clause {
    display: inline-block;
}

clause:hover {
    cursor: grab;
}

clause:active {
    cursor: grabbing;
}

and {
    display: block;
    margin-left: 10px;
}

and:hover {
    cursor: grab;
}

and:active {
    cursor: grabbing;
}

blank {
    display: inline-block;
    min-width: 50px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    margin: 5px;
    vertical-align: middle;
}

blank.filled {
    box-sizing: border-box;
    height: auto;
    min-height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

blank span.deleteBlank {
    color: rgba(255, 99, 71, 0);
}

blank:hover span.deleteBlank {
    color: rgba(255, 99, 71, 1);
}

.deleteBlank {
    padding-right: 5px;
    float: right;
}