/********* COMPUTER (DEFAULT) DISPLAY *********/

/* factContent */

.factContent {
    display: inline-block;
    box-sizing: border-box;
    z-index: 0;
    padding: 10vh;
    width: 100%;
    top: 0;
}

/* Don't show scroll bar for long facts
   How to hide it from: https://stackoverflow.com/a/30680994 */
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h1 {
    text-align: center;
    overflow-wrap: break-word;
}

p {
    overflow-wrap: break-word;
    overflow-y: auto;
}

/* CONTROLS */
.toolbar {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    top: 1.2em;
    padding: 10px;
    color: rgba(128, 128, 128, 0.5);
}

/* .toolbar span {
    padding: 10px;
} */

.toolbar .search {
    position:fixed;
    left: 0;
    padding: 10px;
}

.toolbar .controls {
    position: fixed;
    right: 0;
    font-size: 24px;
}

.toolbar span:hover {
    color: white;
    cursor: pointer;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

/********* MOBILE DISPLAY *********/
/* Dimensions from: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .factContent {
        padding: 1vh;
    }

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .factContent {
        padding: 1vh;
    }

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .factContent {
        padding: 1vh;
    }

}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .factContent {
        padding: 1vh;
    }

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .factContent {
        padding: 1vh;
    }

}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

    .factContent {
        padding: 1vh;
    }

}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    .factContent {
        padding: 1vh;
    }

}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

    .factContent {
        padding: 1vh;
    }

}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    .factContent {
        padding: 1vh;
    }

}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    .factContent {
        padding: 1vh;
    }

}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

    .factContent {
        padding: 1vh;
    }

}

@media screen 
  and (device-width: 384px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 2) {

    .factContent {
        padding: 1vh;
    }

}

@media screen 
  and (device-width: 360px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 3) {

    .factContent {
        padding: 1vh;
    }

}

@media screen 
  and (device-width: 360px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 4) {

    .factContent {
        padding: 1vh;
    }

}

@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

    .factContent {
        padding: 1vh;
    }

}
